<html>
<script src="static/factions.js"></script>
<script src="static/landing_page.js"></script>
<script src="static/message_handler.js"></script>
<title>Tornado WebSockets</title>
 <body id='body'>

 </body>
 <span id='player_msg'>
 <strong id='msg_label'>Username:</strong> <input type="text" id="msg" maxlength="25">
 <input type="button" id='msg_button' value="Send">
</span>

<script type="text/javascript">
document.getElementById('player_msg').style.display = 'none'
Factions.get_text_input('Username:', 'username');
Factions.landing_page();
</script>
 </html>