<title>Tornado WebSockets</title>
<script>
    var ws;
 
    function onLoad() {
        ws = new WebSocket("ws://localhost:8080/websocket");

	ws.onopen = function(){
		console.log("ehelfksd");
	}
 
        ws.onmessage = function(e) {
           alert(e.data);
        };
    }
    onLoad();
 
    function sendMsg() {
        ws.send(document.getElementById('msg').value);
    }
</script>
 
 
<strong>Message to Send:</strong> <input type="text" id="msg" maxlength="25">
 <input type="button" onclick="sendMsg();" value="Send">